<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Sample numlist</title>
</head>

<body>
	<h1>偶数かどうか</h1>
	<ul>
		<% 20.times do |i| %>
		<%= "<li> #{i}: #{i.even?}</li>" %>
		<% end %>
	</ul>
</body>
