<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= "KonjakuQiita-#{@tag}" %></title>
</head>

<body>
  <h1><%= "Tag '#{@tag}': Since #{@oldest_article.created_at.strftime('%Y/%m/%d')}" %></h1>
  <h2><%= "The oldest article in '#{@tag}'" %></h2>
  <div>
    <% [@oldest_article].each do |a| %>
    <%= "<li> #{a.name}: #{a.num_likes} #{a.tag1} #{a.tag2} #{a.tag3} #{a.tag4} #{a.tag5}</li>" %>
    <% end %>
  </div>
